@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400%3b600%3b700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans Cond";
  font-display: swap;
  src: url("../fonts/OpenSans_Condensed-Regular.woff2") format("woff2"), url("../fonts/OpenSans_Condensed-Regular.woff2.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Cond";
  font-display: swap;
  src: url("../fonts/OpenSans_Condensed-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans_Condensed-SemiBold.woff2.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Cond";
  font-display: swap;
  src: url("../fonts/OpenSans_Condensed-Bold.woff2") format("woff2"), url("../fonts/OpenSans_Condensed-Bold.woff2.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --app-height: 100%;
}

html {
  height: var(--app-height);
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100vw;
  height: var(--app-height);
  display: flex;
  overflow-y: hidden;
}

.content {
  background: #101010;
  flex: 1 1 auto;
}

.btn_black {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #D24C4D;
  border-radius: 2px;
  transition: all 0.2s linear;
}

.btn_black:hover {
  border: 1px solid #B13232;
  color: #B13232;
}

.btn_pink {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #D24C4D;
  border-radius: 2px;
  transition: all 0.2s linear;
}

.btn_pink:hover {
  background: #B13232;
}

.title {
  font-family: "Open Sans Cond";
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.subtitle {
  font-family: "Open Sans Cond";
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  line-height: 150%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: translate(0, 0);
  opacity: 1;
}

.popup__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  position: relative;
}

.popup__content {
  max-width: 560px;
  width: 100%;
  padding: 45px 115px 100px;
  position: relative;
  opacity: 1;
  background: #000;
  border-radius: 10px;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.08);
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-popup:hover svg {
  stroke: #D24C4D;
}

.close-popup svg {
  width: 10px;
  height: 10px;
  stroke: #fff;
  transition: all 0.2s linear;
}

@keyframes popupShow {
  0% {
    transform: translate(0, -100%);
  }

  30% {
    transform: translate(0, 15px);
  }

  40% {
    transform: translate(0, -7px);
  }

  50% {
    transform: translate(0, 5px);
  }

  60% {
    transform: translate(0, -4px);
  }

  70% {
    transform: translate(0, 3px);
  }

  80% {
    transform: translate(0, -2px);
  }

  90% {
    transform: translate(0, 1px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes popupHide {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(0, 120%);
    opacity: 0;
  }
}

.checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
  height: 24px;
  background: #151515;
  border-radius: 2px;
  transition: all 0.2s linear;
}

.checkbox::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  background: url("../img/icons/icons.svg#check") center no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.checkbox.active::before {
  background: #D24C4D;
}

.checkbox.active::after {
  opacity: 1;
  visibility: visible;
}

.checkbox input {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 35px 0 20px;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 35px;
  height: 1px;
  background: #232323;
}

.header__date {
  font-family: "Open Sans Cond";
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 20px;
  flex: 1 1 310px;
}

.header__date svg {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.header__btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 55px;
}

.header__btn {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 125px;
  height: 32px;
  background: #1E1E1E;
  border-radius: 2px;
  transition: all 0.2s linear;
}

.header__btn:hover {
  background: #151111;
}

.header__btn:not(:last-child) {
  margin-right: 15px;
}

.header__btn.active {
  background: #D24C4D;
}

.header__search {
  font-family: "Open Sans Cond";
  font-weight: 600;
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #232323;
  position: relative;
  padding-left: 22px;
  flex: 0 0 310px;
}

.header__search::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  background: url("../img/icons/icons.svg#search") center no-repeat;
}

.header__search input {
  border: none;
  background: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.header__search input::-moz-placeholder {
  opacity: 1;
}

.header__search input::placeholder {
  opacity: 1;
}

.header__options {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 0 450px;
  position: relative;
}

.header__faq {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.header__faq svg {
  width: 20px;
  height: 20px;
}

.header__messages {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  position: relative;
}

.header__messages span {
  font-weight: 700;
  font-size: 0.5625rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  overflow: hidden;
  background: #EA4335;
  position: absolute;
  top: -3px;
  right: -1px;
}

.header__messages svg {
  width: 20px;
  height: 20px;
}

.header__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  background: #232323;
  position: relative;
  margin-right: 10px;
}

.header__avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  max-height: 80%;
}

.header__user {
  font-family: "Open Sans Cond";
  font-weight: 700;
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 15px;
}

.header__menu-icon {
  width: 24px;
  height: 24px;
  transition: all 0.2s linear;
}

.header__menu-icon._active {
  transform: rotate(180deg);
}

.header__menu-icon svg {
  width: 10px;
  height: 10px;
}

.menu-header {
  position: absolute;
  top: 110%;
  right: -10px;
  padding: 10px;
  background: #000;
  border: 1px solid #232323;
  min-width: 100px;
  z-index: 5;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50px);
  transition: all 0.2s linear;
}

.menu-header._active {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.menu-header__item {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 7px 10px;
  cursor: pointer;
}

.menu-header__item:hover .menu-header__link {
  color: #D24C4D;
}

.menu-header__link {
  color: #fff;
  font-size: 0.875rem;
  transition: all 0.2s linear;
}

.sidebar {
  flex: 0 0 325px;
  background: #000;
  padding: 0 30px 0 15px;
}

.sidebar__header {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.sidebar__logo {
  max-width: 65px;
  max-height: 65px;
  display: block;
}

.sidebar__logo img {
  max-width: 100%;
  max-height: 100%;
}

.menu {
  padding: 25px 0;
}

.menu__item {
  width: 100%;
  height: 48px;
  margin-bottom: 10px;
  padding: 0 20px;
  font-weight: 600;
  transition: all 0.2s linear;
}

.menu__item:hover {
  background: #151111;
}

.menu__item.active {
  background: #151515;
  border-radius: 2px;
  border-left: 4px solid #D24C4D;
  padding: 0 20px 0 16px;
}

.menu__link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}

.menu__link svg {
  width: 15px;
  height: 15px;
  fill: red;
  margin-right: 25px;
}

.traders {
  padding: 25px 0 25px 20px;
  position: relative;
}

.traders::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  height: 1px;
  background: #232323;
}

.traders__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.traders__title {
  font-family: "Open Sans Cond";
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #fff;
  margin-right: 7px;
}

.traders__count {
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: #fff;
  flex: 1 1 auto;
}

.traders__count span {
  display: flex;
  align-items: center;
  background: #D24C4D;
  border-radius: 2px;
  padding: 0 10px;
  height: 18px;
  padding: 0 10px;
  width: -moz-fit-content;
  width: fit-content;
}

.traders__all {
  font-family: "Open Sans Cond";
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.2;
  transition: all 0.2s linear;
}

.traders__all:hover {
  opacity: 0.5;
}

.traders__list {
  max-height: calc(var(--app-height) - 470px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #5f5f5f #000;
}

.traders__list::-webkit-scrollbar {
  width: 1px;
  height: 100%;
}

.traders__list::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}

.traders__item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.traders__item.active .traders__avatar {
  position: relative;
}

.traders__item.active .traders__avatar::after {
  content: "";
  position: absolute;
  right: -5px;
  bottom: 1px;
  width: 16px;
  height: 16px;
  border: 2px solid #000;
  background: #64B161;
  border-radius: 50%;
}

.traders__avatar {
  width: 40px;
  height: 40px;
  margin-right: 17px;
  position: relative;
}

.traders__avatar img {
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.traders__info {
  flex: 1 1 auto;
}

.traders__name {
  font-weight: 600;
  color: #fff;
}

.traders__group {
  font-weight: 600;
  font-size: 0.8125rem;
  color: #fff;
  opacity: 0.5;
}

.traders__btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.traders__btn:hover svg {
  opacity: 0.5;
}

.traders__btn svg {
  width: 12px;
  height: 12px;
  stroke: #fff;
  opacity: 0.2;
  transition: all 0.2s linear;
}

.cash {
  color: #fff;
  text-transform: uppercase;
  padding: 20px 20px 30px 55px;
  border: 1px solid #232323;
  border-left: 4px solid #64B161;
  margin-top: 10px;
  margin-bottom: -10px;
}

.cash__item:not(:last-child) {
  margin-bottom: 15px;
}

.cash__item:first-child .cash__value {
  font-size: 2rem;
}

.cash__item:first-child .cash__value span {
  font-size: 1.25rem;
}

.cash__title {
  display: flex;
  align-items: center;
  font-family: "Open Sans Cond";
  margin-bottom: 5px;
}

.cash__title svg {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.cash__value {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  display: flex;
  align-items: flex-start;
}

.cash__value span {
  font-size: 1rem;
  font-weight: 700;
}

.cash__btn {
  margin-top: 20px;
  width: 156px;
  height: 36px;
  border: 1px solid #101010;
  margin-left: -10px;
}

.tables {
  display: flex;
}

.tables__traders,
.tables__teams {
  padding: 35px 0 0 20px;
}

.tables__traders {
  flex: 1 1 auto;
}

.tables__teams {
  padding-right: 35px;
  flex: 1 1 350px;
}

.tables__title {
  font-family: "Open Sans Cond";
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.tables__wrapper {
  position: relative;
}

.tables__list {
  background: #151515;
  padding-bottom: 60px;
  max-height: calc(var(--app-height) - 525px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #5f5f5f #000;
}

.tables__list::-webkit-scrollbar {
  width: 1px;
  height: 100%;
}

.tables__list::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}

.tables__more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tables__more::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 0.9);
}

.tables__btn {
  font-weight: 600;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  z-index: 1;
}

.tables__btn svg {
  width: 12px;
  height: 12px;
  transform: rotate(180deg);
  margin-left: 10px;
}

.item-tables {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 30px;
  height: 40px;
}

.item-tables:nth-child(even) {
  background: rgba(35, 35, 35, 0.24);
}

.item-tables:first-child {
  font-family: "Open Sans Cond";
  height: 65px;
  color: #8A8A8A;
  text-transform: uppercase;
}

.item-tables:first-child .item-tables__pnl,
.item-tables:first-child .item-tables__commision {
  color: #8A8A8A;
}

.item-tables__number {
  width: 90px;
  margin-right: 10px;
}

.item-tables__name {
  width: 210px;
  margin-right: 10px;
}

.item-tables__team {
  width: 140px;
  margin-right: 10px;
}

.item-tables__roi {
  width: 150px;
  margin-right: 10px;
}

.item-tables__pnl {
  display: flex;
  align-items: center;
  width: 150px;
  margin-right: 10px;
  color: #64B161;
}

.item-tables__pnl.red {
  color: #D24C4D;
}

.item-tables__pnl svg {
  width: 12px;
  height: 12px;
  margin-left: 20px;
}

.item-tables__commision {
  width: 130px;
  color: #64B161;
}

.graphs {
  display: flex;
}

.graphs__main {
  display: flex;
  flex: 1 1 1090px;
}

.graphs__daily {
  flex: 1 1 760px;
  padding: 35px 0 0 20px;
}

.graphs__title {
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  white-space: nowrap;
  font-family: "Open Sans Cond";
}

.graphs__body {
  height: 260px;
  background: #151515;
  position: relative;
  padding-top: 20px;
}

.graphs__body_daily .graphs__options {
  top: 23px;
  left: 170px;
}

.graphs__body_ref .graphs__options,
.graphs__body_comission .graphs__options {
  top: 23px;
  right: 25px;
}

.graphs__commision {
  flex: 0 0 290px;
  padding: 35px 0 0 20px;
  max-width: 290px;
}

.graphs__extra {
  padding-right: 35px;
  flex: 2 1 450px;
}

.graphs__ref {
  padding: 35px 0 0 20px;
}

.graphs__options {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
}

.graphs__info {
  font-weight: 600;
  font-size: 0.875rem;
  color: #fff;
  background: #1E1E1E;
  border-radius: 2px;
  padding: 3px 10px;
  margin-right: 10px;
}

.graphs__btn {
  width: 27px;
  height: 27px;
  background: #D24C4D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphs__btn svg {
  width: 14px;
  height: 14px;
}

.load {
  padding: 35px 0 0 20px;
}

.load__title {
  font-family: "Open Sans Cond";
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.load__subtitle {
  font-family: "Open Sans Cond";
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
  flex: 1 1 100%;
}

.load__file {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 35px;
}

.load__file input {
  font-family: "Open Sans";
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
  background: #151515;
  border-radius: 2px;
  border: none;
  height: 42px;
  width: 290px;
  padding: 0 15px;
}

.load__file input[type=file] {
  display: none;
}

.load__btn_black {
  width: 156px;
  height: 42px;
}

.load__btn_pink {
  width: 136px;
  height: 42px;
  margin-left: 20px;
}

.table-load {
  background: #151515;
  width: 603px;
  max-height: calc(var(--app-height) - 280px);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #5f5f5f #000;
}

.table-load::-webkit-scrollbar {
  width: 1px;
  height: 100%;
}

.table-load::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}

.table-load__row {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 40px;
}

.table-load__row:first-child {
  font-family: "Open Sans Cond";
  height: 65px;
  color: #8A8A8A;
  text-transform: uppercase;
}

.table-load__row:first-child .table-load__name,
.table-load__row:first-child .table-load__number {
  color: #8A8A8A;
}

.table-load__row:nth-child(even) {
  background: rgba(35, 35, 35, 0.24);
  border-radius: 2px;
}

.table-load__number {
  color: #fff;
  flex: 0 0 100px;
  margin-right: 10px;
}

.table-load__name {
  color: #fff;
  flex: 1 1 auto;
  margin-right: 10px;
}

.table-load__delete {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 52px;
}

.table-load__btn {
  width: 16px;
  height: 16px;
}

.table-load__btn:hover svg {
  stroke: #D24C4D;
}

.table-load__btn svg {
  width: 100%;
  height: 100%;
  stroke: #fff;
  transition: all 0.2s linear;
}

.settings {
  padding: 35px 0 0 20px;
  width: 340px;
}

.settings__item {
  position: relative;
}

.settings__item:not(:last-child) {
  margin-bottom: 15px;
}

.settings__item input {
  width: 100%;
  height: 42px;
  background: #151515;
  border-radius: 2px;
  border: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 15px;
}

.settings__btn {
  height: 42px;
  width: 100%;
  margin-top: 30px;
}

.withdraw__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

.withdraw__info {
  text-align: center;
  margin-bottom: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.withdraw__info::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #232323;
}

.withdraw__value {
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
  line-height: 1;
}

.withdraw__value span {
  font-size: 18px;
}

.withdraw__item:not(:last-child) {
  margin-bottom: 30px;
}

.withdraw__item input {
  height: 56px;
  padding: 0 15px;
  color: rgba(255, 255, 255, 0.5);
  background: #151515;
  border-radius: 2px;
  border: none;
  font-size: 1.5rem;
  flex: 1 1 auto;
  min-width: 200px;
}

.withdraw__input {
  position: relative;
  display: flex;
}

.withdraw__input input {
  padding-right: 30px;
}

.withdraw__checkbox {
  color: #fff;
}

.withdraw__btns {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 56px;
  justify-content: center;
  gap: 5px;
  right: 90px;
  top: 50%;
  transform: translate(0, -50%);
}

.withdraw__btn {
  width: 100%;
  height: 48px;
  margin-top: 30px;
}

.withdraw__btn_all {
  width: 68px;
  min-width: 68px;
  height: 56px;
  margin-left: 10px;
}

.withdraw__btn_up,
.withdraw__btn_down {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.withdraw__btn_up:hover svg,
.withdraw__btn_down:hover svg {
  fill: #D24C4D;
}

.withdraw__btn_up svg,
.withdraw__btn_down svg {
  width: 8px;
  height: 8px;
  fill: rgba(255, 255, 255, 0.5);
  transition: all 0.2s linear;
}

.login__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

.login__items {
  display: flex;
  margin: 0 -10px 30px;
}

.login__items .login__item {
  flex: 1 1 50%;
  padding: 0 10px;
}

.login__items .login__item:not(:last-child) {
  margin-bottom: 0;
}

.login__items .login__item_capcha {
  flex: 0 0 100px;
  background: #232323;
  height: 42px;
  margin-left: 10px;
  margin-bottom: 0 !important;
}

.login__items .login__pass {
  margin-right: 10px;
}

.login__item {
  position: relative;
}

.login__item:not(:last-child) {
  margin-bottom: 30px;
}

.login__item input {
  height: 42px;
  padding: 0 15px;
  color: rgba(255, 255, 255, 0.5);
  background: #151515;
  border-radius: 2px;
  border: none;
  font-size: 0.875rem;
  width: 100%;
}

.login__item input[type=password] {
  padding-right: 42px;
}

.login__item.error input {
  border: 1px solid #D24C4D;
  border-radius: 2px;
}

.login__item.error .error__message {
  display: block;
}

.login__checkbox {
  color: #fff;
}

.login__btn {
  width: 100%;
  height: 48px;
  margin-top: 30px;
}

.login__btn_all {
  width: 68px;
  min-width: 68px;
  height: 56px;
  margin-left: 10px;
}

.login__pass {
  position: absolute;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  bottom: 0;
}

.login__pass.active svg:first-child {
  display: none;
}

.login__pass.active svg:last-child {
  display: block;
}

.login__pass:hover svg {
  stroke: #D24C4D;
}

.login__pass svg {
  width: 15px;
  height: 15px;
  stroke: #232323;
  transition: all 0.2s linear;
}

.login__pass svg:last-child {
  display: none;
}

.error__message {
  display: none;
  font-size: 0.75rem;
  color: #D24C4D;
}

@media (min-width: 1921px) {
  .graphs__extra {
    flex: 1 1 450px;
  }
}